<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Карта
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<google-map height="100%" 
            width="100%"
            [options]="options">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Твоята скорост в момента:</ion-card-subtitle>
      <ion-card-title>120 км/ч</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Превишаваш скоростта с: 10км/ч
    </ion-card-content>
  </ion-card>
</google-map>
</ion-content>
