<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-start">
      Карта
    </ion-title>
    <ion-button slot="end" (click)="clearPath()">Изчисти картата</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <google-map height="100%" width="100%" [options]="options" [center]="center">
    <map-marker
      *ngIf="center"
      [options]="markerOptions"
      [position]="markerPosition"
    >
    </map-marker>
    <map-polyline [path]="polylinePath"></map-polyline>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Твоята скорост в момента:</ion-card-subtitle>
        <ion-card-title>{{ speed }} км/ч</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="this.speed > MAX_SPEED">
        Превишаваш скоростта с:  <strong>{{ (speed - MAX_SPEED) }} км/ч</strong>

        <div class="alert-icons">
          <ion-icon name="alert"></ion-icon>
          <ion-icon name="alert"></ion-icon>
          <ion-icon name="alert"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </google-map>
</ion-content>
