<ion-card>
    <ion-card-header>
        <ng-content></ng-content>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-avatar slot="end">
                <img src="assets/images/date.jpg" alt="date">
            </ion-avatar>
            <ion-label>
                <p>Дата и час<p>
                <h3> {{statistic.date | date: 'mediumDate'}} {{statistic.date | date: 'mediumTime'}}</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="end">
                <img src="assets/images/map.png" alt="map">
            </ion-avatar>
            <ion-label>
                <p>Местоположение</p>
                <h3>{{statistic.address}}</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="end">
                <img src="assets/images/speed.png" alt="speed">
            </ion-avatar>
            <ion-label>
                <p>Превишена скорост</p>
                <h3>{{statistic.overspeed}}км/ч</h3>
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>