<ion-card>
    <ion-card-content>
        <ion-item style="background-color: #FFEFD5;">
            <ion-avatar slot="end">
                <img src="https://media.istockphoto.com/vectors/calendar-with-add-symbol-flat-icon-pixel-perfect-for-mobile-and-web-vector-id1173891788?b=1&k=6&m=1173891788&s=170x170&h=SJQrOzX4Z5fKxfG2MmVKE-kLdnn3Hwqj-wTFXiQ3MJM=">
            </ion-avatar>
            <ion-label>
                <p>Дата и час<p>
                <h3> {{detail.date | date: 'mediumDate'}} {{detail.date | date: 'mediumTime'}}</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="end">
                <img src="https://img.icons8.com/bubbles/2x/gps-device.png">
            </ion-avatar>
            <ion-label>
                <p>Местоположение</p>
                <h3>Място: {{detail.place}}</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="end">
                <img src="https://mpng.subpng.com/20191125/yjw/transparent-car-icon-energy-and-power-icon-5ddbc621d3a733.5228208915746841938669.jpg">
            </ion-avatar>
            <ion-label>
                <p>Данни на колата</p>
                <h3>{{detail.carDetails}}</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="end">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9a389aa9-00e7-41a2-8a57-4c72c8715b39/d72brzv-9cba07d7-0847-43ae-b7dc-8b6d68688f5d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOWEzODlhYTktMDBlNy00MWEyLThhNTctNGM3MmM4NzE1YjM5XC9kNzJicnp2LTljYmEwN2Q3LTA4NDctNDNhZS1iN2RjLThiNmQ2ODY4OGY1ZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Z2ZamohPeRyXtBaB1voG4odxlnmarOxhr_D5CHnwuK4">
            </ion-avatar>
            <ion-label>
                <p>Превишена скорост</p>
                <h3>{{detail.speed}}км/ч</h3>
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>