<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Скорост
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Твоята скорост в момента:</ion-card-subtitle>
        <ion-card-title>120 км/ч</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Превишаваш скоростта с: 10км/ч
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Позволена скорост за региона:</ion-card-subtitle>
        <ion-card-title>110 км/ч</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
