<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Начало
    </ion-title>
    <ion-button slot="end" (click)="logOut()">Изход</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header style="font-size: 20px;">Профил</ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-avatar class="ion-margin-start">
            <img
              src="assets/images/user.jpg" alt="user">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>
        <p>Име</p>
        <h3>{{vehicle.owner}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Дата на създаване</p>
        <h3>{{vehicle.carDate | date: 'mediumDate'}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Модел</p>
        <h3>{{vehicle.carModel}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Регистрационен номер</p>
        <h3>{{vehicle.carNumber}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Телефон</p>
        <h3>{{vehicle.phoneNumber}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>