<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        Статистика
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 4</ion-title>
      </ion-toolbar>
    </ion-header>
    <app-statistic *ngFor="let detail of details" [detail]="detail"></app-statistic>
    <!-- <ng-container *ngIf="isLoadMore">
      <app-statistic *ngFor="let detail of detailsOther" [detail]="detail"></app-statistic>
    </ng-container>
    <a *ngIf="!isLoadMore && detailsOther.length > 0" (click)="loadMore()" stile="text-align: center">Зареди още</a> -->
</ion-content>